{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Сокращение ссылок</h1>
    <form action="/" method="POST">
        <input type="text" name="url" placeholder="Введите ссылку" required>
        <button type="submit">Сократить</button>
    </form>

    <form action="{{ path('all_links_page') }}" method="GET">
        <button type="submit">Показать все ссылки</button>
    </form>


    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    {% if short_url %}
    <div class="result">
        <strong>Короткая ссылка:</strong><br>
        <a href="{{ short_url }}">{{ short_url }}</a>
    </div>
    {% endif %}
</div>

{% endblock %}

